<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title inertia>StreamerTools</title>

  @viteReactRefresh()
  @vite(['resources/app.tsx'])
  @inertiaHead()
</head>

<body>
  @inertia()
</body>

</html>
