---
import GearGrid from '../../../components/gear-grid.astro';
import GearNav from '../../../components/gear-nav.astro';
import Layout from '../../../components/layout.astro'
import type { Gears } from '../../../types/gear';
const micsStands = await Astro.glob('../../../gears/microphones-stands/*.ts')
const formattedStands: Gears = micsStands.map((mic) => mic.default)

const choice = ['rode-psa-1', 'elgato-wave-mic-arm-lp']
---

<Layout title="Microphones stands | StreamerTools" description="StreamerTools find the best microphones stands for your budget to improve your stream" image="https://streamertools.app/og.jpg">
	<div class="text-center py-10 md:py-20">
		<h1 class="font-bold text-3xl md:text-5xl lg:text-7xl mb-5">The best microphones stands for your stream setup</h1>
		<h2>Find a microphones stands that fit your budget and your needs</h2>
	</div>

  <div class="flex gap-6 flex-col lg:flex-row">
    <GearNav />
    
    <div>
      <GearGrid gears={formattedStands}  path="microphones-stands" choice={choice} />
    </div>

  </div>
</Layout>