---
import GearGrid from '../../../components/gear-grid.astro';
import GearNav from '../../../components/gear-nav.astro';
import Layout from '../../../components/layout.astro'
import type { Microphones } from '../../../types/gear';
const mics = await Astro.glob('../../../gears/microphones/*.ts')
const formattedMics: Microphones = mics.map((mic) => mic.default)
const usb = formattedMics.filter((mic) => mic.type === 'usb')
const xlr = formattedMics.filter((mic) => mic.type === 'xlr')

const usbChoice = ['elgato-wave-3']
const xlrChoice = ['shure-sm7b']
---

<Layout title="Microphones | StreamerTools" description="StreamerTools find the best microphones for your budget to improve your stream" image="https://streamertools.app/og.jpg">
	<div class="text-center py-10 md:py-20">
		<h1 class="font-bold text-3xl md:text-5xl lg:text-7xl mb-5">The best microphones<br />for your stream setup</h1>
		<h2>Find a microphones that fit your budget and your needs</h2>
	</div>

  <div class="flex gap-6 flex-col lg:flex-row">
    <GearNav />
    
    <div>
      <GearGrid gears={usb} catName="USB microphones" path="microphones" choice={usbChoice} />
      <GearGrid gears={xlr} catName="XLR microphones" path="microphones" choice={xlrChoice} />
    </div>

  </div>
</Layout>