---
import GearGrid from '../../../components/gear-grid.astro';
import GearNav from '../../../components/gear-nav.astro';
import Layout from '../../../components/layout.astro'
import type { Gears } from '../../../types/gear';
const mixers = await Astro.glob('../../../gears/audio-mixers/*.ts')
const formattedMixers: Gears = mixers.map((gear) => gear.default)

const choice = ['universal-audio-volt-176', 'scarlett-duo', 'rodecaster-pro-ii']
---

<Layout title="Audio mixers | StreamerTools" description="StreamerTools find the best audio mixers for your budget to improve your stream" image="https://streamertools.app/og.jpg">
	<div class="text-center py-10 md:py-20">
		<h1 class="font-bold text-3xl md:text-5xl lg:text-7xl mb-5">The best microphones stands for your stream setup</h1>
		<h2>Find an audio mixer that fit your budget and your needs</h2>
	</div>

  <div class="flex gap-6 flex-col lg:flex-row">
    <GearNav />
    
    <div>
      <GearGrid gears={formattedMixers}  path="audio-mixers" choice={choice} />
    </div>

  </div>
</Layout>